/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
body{
  font-family: 'Hiragino UD Serif Std';
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.top-wrapper{
  background-image: url(../img/topimg.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  height:75vh;
  position: relative;
  header{
      padding:4% 5% 0 0;
      .hamburger-menu{
            margin: 0 0 0 auto;
            cursor: pointer;
            height:40px;
            width:50px;
            position: relative;
            span{
              display:inline-block;
              position: absolute;
              height:6px;
              transition:all .4s;
              background-color:#fff;
              box-shadow: 3px 3px 6px #000000A7;
            }
            span:nth-of-type(1){
              top:0px;
              width:100%;
            }
            span:nth-of-type(2){
              top:14px;
              width:100%;
            }
            span:nth-of-type(3){
              top:28px;
              width:100%;
            }
          }
    }
    .top-title{
      position: absolute;
      top:60%;
      left:3%;
      .top-logo{
        margin-left: 40px;
        height:70px;
        width:180px;
        background-color: #2B5F8B;
      }
      p{
        text-align: center;
        margin-top: 30px;
        font-size: 36px;
        color: #2B5F8B;
        line-height: 1.3;
      }
    }
}
#g-nav{
  background-color: #2B5F8B;
  padding: 80px 10% 0 5%;
  position:fixed;
  z-index: 999;
  top:0;
  right: -120%;
  width: 20%;
  height:100vh;
  transition: all .6s;
  .batu-btn{
    position: absolute;
    top:5%;
    right:8%;
    cursor: pointer;
    width:50px;
    height:50px;
    span{
      display:inline-block;
      position: absolute;
      height:6px;
      background-color:#fff;
    }
    span:nth-of-type(1){
      top:0px;
      width:100%;
      transform: translateY(24px) rotate(-45deg);
    }
    span:nth-of-type(2){
      top:30px;
      width:100%;
      transform: translateY(-6px) rotate(45deg);
    }
  }
  .g-nav-ul{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 999;
    li{
      line-height: 3;
      font-size: 24px;
      text-shadow: 1px 2px 3px #000;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
#g-nav.panelactive{
  right:0;
}
.second-wrapper{
  padding:25px 0 64px 0;
  .second-text{
    background-color: #ff8c00;
    padding:58px 0;
    p{
      color:#fff;
      text-align: center;
      font-size: 28px;
      line-height: 1.3;
    }
  }
  .step1{
    text-align: center;
    padding-top: 37px;
    .test-item{
      line-height: 1.5;
      padding-bottom: 56px;
      .test-title{
        font-size: 48px;
        color:#2B5F8B;
      }
      .test-text{
        font-size: 20px;
        color:#2B5F8B;
      }
    }
  }
  .dli-chevron{
    text-align: center;
    padding-bottom: 53px;
    .dli-chevron-down{
      display: inline-block;
      vertical-align: middle;
      color:#2B5F8B;
      line-height: 1;
      width:2.5em;
      height:2.5em;
      border:0.2em solid currentColor;
      border-left:0;
      border-bottom:0;
      box-sizing: border-box;
      transform: translateY(-25%) rotate(135deg);
    }
  }
  .step2{
    padding: 0 20%;
    text-align: center;
    .step2-title{
      background-color: #ff8c00;
      text-align: center;
      line-height: 3.5;
      font-size: 20px;
      color:#fff;
    }
    .step2-text{
      padding:20px 0 43px 0;
      color:#ff8c00;
      font-size: 18px;
      line-height: 1.5;
    }
  }
  .step3{
    .step3-text{
      font-size: 18px;
      text-align: center;
      color:#ff8c00;
      line-height: 1.5;
    }
    .step3-btn{
        background-color: #2B5F8B;
        width:360px;
        margin: 0 auto;
        text-align: center;
        border-radius: 6px;
        margin-top: 30px;
        a{
          display: block;
          font-size: 27px;
          line-height: 2.5;
          color:#fff;
        }
      }
  }
}
.third-wrapper{
  border-top: 21px solid #2B5F8B;
  padding: 35px 0 41px 0;
  .group-items{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20%;
    .item{
      img{
        display: block;
        margin: 0 auto;
        width:80px;
        height:80px;
        background-color: black;
      }
      a p{
        margin-top: 5px;
        text-align: center;
        color:#2B5F8B;
        font-size: 15px;
      }
    }
  }
}
footer{
  background-color: #2B5F8B;
  .footer-gridbox{
    padding: 5% 3% 3% 7%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .footer-flexbox{
      display: flex;
      justify-content: space-around;
      align-items:top;
      .footer-list{
        ul a li{
          font-size: 18px;
          color:#fff;
          margin-right: 40px;
          margin-bottom: 35px;
        }
      }
    }
    .footer-logo{
      display: flex;
      align-items: flex-end;
      img{
        margin: 0 auto;
        width:176px;
        height:69px;
      }
    }
  }
}
.footer-second{
  display: none;
}
