/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
body{
  font-family: 'Hiragino UD Serif Std';
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
@mixin text-data(){
  font-size: 16px;
  color:#2B5F8B;
  line-height: 2;
}
@mixin menu-btn(){
  background-color: #ff8c00;
  margin-bottom: 40px;
  box-shadow: 3px 3px 3px #00000074;
}
.top-wrapper{
  background-image: url(../img/mainimg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:87vh;
  position: relative;
  header{
    padding: 3% 4% 0 3%;
    .header-flexbox{
      display: flex;
      justify-content: space-around;
      align-items:  flex-start;
      .header-logo{
        background-color: #fff;
        height:69px;
        width:176px;
      }
      .hamburger-menu{
            margin: 0 0 0 auto;
            cursor: pointer;
            height:40px;
            width:50px;
            position: relative;
            span{
              display:inline-block;
              position: absolute;
              height:6px;
              background-color:#fff;
              box-shadow: 3px 3px 6px #000000A7;
            }
            span:nth-of-type(1){
              top:0px;
              width:100%;
            }
            span:nth-of-type(2){
              top:14px;
              width:100%;
            }
            span:nth-of-type(3){
              top:28px;
              width:100%;
            }
          }
    }
  }
  .top-title{
    margin-top: 4%;
    background-color: #fff;
    opacity: 0.8;
    line-height: 3;
    p{
      text-align: center;
      font-size: 36px;
      color:#2B5F8B;
    }
  }
  .top-text{
    text-align: center;
    padding: 2% 0;
    p{
      font-size: 17px;
      line-height: 2;
      text-shadow: 0px 0px 3px #002646;
      color:#fff;
    }
  }
  .scrolldown{
    position: absolute;
    left:50%;
    top:75%;
    bottom:20px;
    height:90px;
    span{
      position: absolute;
      left:-25px;
      top:150px;
      color:#fff;
      font-size: 18px;
      text-shadow: 0px 0px 3px #2B5F8B;
    }
  }
  .scrolldown::after{
    content: "";
    position: absolute;
    top:0;
    width:2px;
    height:80px;
    background-color: #fff;
    animation:pathmove 2s ease-in-out infinite;
    box-shadow: 0px 0px 3px #2B5F8B;
    opacity: 0;
  }
  @keyframes pathmove{
    0%{
      height:0;
      top:0;
      opacity: 0;
    }
    40%{
      height:80px;
      opacity: 1;
    }
    100%{
      height: 0;
      top:90px;
      opacity: 0;
    }
  }
}
#g-nav{
  background-color: #2B5F8B;
  padding: 80px 10% 0 5%;
  position:fixed;
  z-index: 999;
  top:0;
  right: -120%;
  width: 20%;
  height:100vh;
  transition: all .6s;
  .batu-btn{
    position: absolute;
    top:5%;
    right:8%;
    cursor: pointer;
    width:50px;
    height:50px;
    span{
      display:inline-block;
      position: absolute;
      height:6px;
      background-color:#fff;
    }
    span:nth-of-type(1){
      top:0px;
      width:100%;
      transform: translateY(24px) rotate(-45deg);
    }
    span:nth-of-type(2){
      top:30px;
      width:100%;
      transform: translateY(-6px) rotate(45deg);
    }
  }
  .g-nav-ul{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 999;
    li{
      line-height: 3;
      font-size: 24px;
      text-shadow: 1px 2px 3px #000;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
#g-nav.panelactive{
  right:0;
}
.second-wrapper{
  .conpetece{
    padding-top: 27px;
    .second-title{
      padding: 24px 5px;
      background-color: #2B5F8B;
      text-align: center;
      p{
        font-size: 23px;
        color:#fff;
      }
    }
    .gridbox{
      display: grid;
      grid-template-columns: 3.5fr 1fr;
      .element-contents{
        padding:0 14% 0 7%;
        .second-text{
          text-align: left;
          padding: 45px 0;
          p{
            @include text-data();
          }
        }
        .element-title{
          background-color: #2B5F8B;
          text-align: left;
          padding: 20px 0 20px 30px;
          p{
            font-size: 20px;
            color:#fff;
          }
        }
        .element-text{
          padding: 37px 0 67px 0;
          p{
            @include text-data();
          }
        }
      }
      .menu{
        padding-top: 45px;
        .item-btn1{
          @include menu-btn();
          a{
            text-align: center;
            display: block;
            line-height: 3.5;
            font-size: 20px;
            color:#fff;
          }
        }
        .item-btn1:hover{
          opacity: 0.8;
        }
        .item-btn2{
          @include menu-btn();
          a{
            text-align: center;
            display: block;
            line-height: 3.5;
            font-size: 20px;
            color:#fff;
          }
        }
        .item-btn2:hover{
          opacity: 0.8;
        }
        .item-btn3{
          @include menu-btn();
          a{
            text-align: center;
            display: block;
            line-height: 3.5;
            font-size: 20px;
            color:#fff;
          }
        }
        .item-btn3:hover{
          opacity: 0.8;
        }
        .item-btn4{
          @include menu-btn();
          a{
            text-align: center;
            display: block;
            line-height: 3.5;
            font-size: 20px;
            color:#fff;
          }
        }
        .item-btn4:hover{
          opacity: 0.8;
        }
        .item-btn5{
          @include menu-btn();
          a{
            text-align: center;
            display: block;
            line-height: 3.5;
            font-size: 20px;
            color:#fff;
          }
        }
        .item-btn5:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
.third-wrapper{
  border-top: 21px solid #2B5F8B;
  padding: 35px 0 41px 0;
  .group-items{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20%;
    .item{
      img{
        display: block;
        margin: 0 auto;
        width:80px;
        height:80px;
        background-color: black;
      }
      a p{
        margin-top: 5px;
        text-align: center;
        color:#2B5F8B;
        font-size: 15px;
      }
    }
  }
}
footer{
  background-color: #2B5F8B;
  .footer-gridbox{
    padding: 5% 3% 3% 7%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .footer-flexbox{
      display: flex;
      justify-content: space-around;
      align-items:top;
      .footer-list{
        ul a li{
          font-size: 18px;
          color:#fff;
          margin-bottom: 35px;
        }
      }
    }
    .footer-logo{
      display: flex;
      align-items: flex-end;
      img{
        margin: 0 auto;
        width:176px;
        height:69px;
      }
    }
  }
}
.footer-second{
  display: none;
}
